@import './variables';

:export {
  candySize: $candy-size;
  colorBlue: $color-blue;
  colorRed: $color-red;
  colorPurple: $color-purple;
  colorOrange: $color-orange;
  colorGreen: $color-green;
  }