@import './variables';
@import './fonts';

body {
  margin: 0;
  font-family: 'Lato', 'Open Sans', 'Arial', sans-serif;
  color: $color-black;
  font-size: 14px;
}

@media screen and (max-width: 480px) {
  .web {
    display: none !important;
  }
}
@media screen and (min-width: 480px) {
  .mobile {
    display: none !important;
  }
}